body{
    margin: auto;
  }

  .addcard-btn{
    width: 100%;
    background:linear-gradient(45deg, rgb(236, 212, 29), rgb(0, 0, 0));
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color:#fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;

}